
.BackgroundBox .RoundBox .grey{
    padding:0px;
    margin:0px;
}

.SendingMessages {
    /*positioning*/
    height:20vh;
    width:calc(100%+20px);
    display: flex;
    justify-content: center;
    align-items: center;
    /*coloring*/
    background-color: #053638;
    color:white;
    /*Other*/
    border-radius:10px;
    margin: -10px;

}

.Typebox {
    margin:0px;
    padding: 5px;
    width:90%;
    height:80%;
    border-radius:10px;
    color: rgba(0, 0, 0, 0.596);
}

.sendChat {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    background-color: #256d70;
    color:white;
    text-align:left;
    line-height: 1.5;
    max-width: 75%;
    justify-content: right;
    flex-flow: column wrap;
    padding-top:0px;
    padding-bottom: 0px;
    float: right;
  }
  
  .receiveChat {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    background-color: #870725;
    color:white;
    text-align:left;
    line-height: 1.5;
    max-width: 75%;
    flex-flow:column-wrap;
    padding-top:0px;
    padding-bottom: 0px;
  }
  
