
.BackgroundBox .RoundBox{
    padding:10px;
    margin:10px;
    height: calc(100% - 20px);
    overflow:hidden;
}

.BackgroundBox {
    flex: 1 1 auto;
}

.viewMessages {
    height: calc(100% - 20vh);
    overflow: scroll;
}

.SendingMessages {
    /*positioning*/
    height: 20vh;
    width:calc(100% + 20px);
    margin-left: -10px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*coloring*/
    background-color: #000000;
    color:white;
    /*Other*/
}

.Typebox {
    margin:0px;
    padding: 5px;
    width:90%;
    height:80%;
    border-radius:10px;
    color: rgba(0, 0, 0, 0.596);
}
.SendChat {
    margin-right:0px;
    display:flex;
    justify-content:flex-end;
}



.sendChat {
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    background-color: #0d9ba0;
    color:white;
    text-align:left;
    line-height: 1.5;
    max-width: 75%;
    flex-flow: column wrap;
    padding-top:0px;
    padding-bottom: 0px;
    /*positioning*/
    
  }
  
  .receiveChat {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ce1a44;
    color:white;
    text-align:left;
    line-height: 1.5;
    max-width: 75%;
    flex-flow:column-wrap;
    padding-top:0px;
    padding-bottom: 0px;
  }
  
