div.group-header {
    height: 20%;
}

div.group-title {
    justify-content: center;
}

div.boundedScrollbox {
    max-height: 30%;
}

.scrollbox {
    max-height: 100%;
    flex-grow: 1;
    overflow: scroll;
}

.GroupPage {
  max-height: 33%;
  display: flex;
  flex-flow: column;
}

.joinbutton {
    text-align: center;
    color: #ffffff;
}

.joinbutton-dark {
    text-align: center;
    color: #000000;
}

.openButton {
    width: 10vh;
    margin: 0;
}

.openButton h3 {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.openButton .RoundBox {
    padding: 0px;
    margin: 0px;
}

div.GroupPage div.RoundBox div.row div.column {
    vertical-align: middle;
}

div.GroupPage div.RoundBox div.row div.column h2{
    vertical-align: middle;
}

div.container h4 {
    margin: 10px;
    padding: 10px;
}