div.group-header {
    height: 20%;
}

div.group-title {
    justify-content: center;
}

div.boundedScrollbox {
    max-height: 30%;
}

.scrollbox {
    flex-grow: 1;
    overflow: scroll;
}

.GroupPage {
  max-height: 100%;
  display: flex;
  flex-flow: column;
}