.RoundBox {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    text-align:left;
    line-height: 1.5;
}

.teal {
    background-color: #256d70;
}

.grey {
    background-color: #d5ded8;
}

.orange {
    background-color: #c05000;
}

.RoundBox-darkTeal {
  box-sizing: border-box;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    background-color: #053638;
    color:white;
    line-height:1.5;
    text-align:left;
    padding-top: 0px;
    padding-bottom:0px;

}

.RoundBox-maroon {
  box-sizing: border-box;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    background-color: #870725;
    color:white;
    line-height:1.5;
    text-align:left;
    padding-top: 0px;
    padding-bottom:0px;

}

.RoundBox-sendChat {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #256d70;
  color:white;
  text-align:left;
  line-height: 1.5;
  max-width: 250px;
  display: flex;
  justify-content: right;
  flex-flow: column wrap;
  padding-top:0px;
  padding-bottom: 0px;
  float: right;
}

.RoundBox-receiveChat {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #870725;
  color:white;
  text-align:left;
  line-height: 1.5;
  max-width: 250px;
  display: flex;
  justify-content: left;
  flex-flow: column wrap;
  padding-top:0px;
  padding-bottom: 0px;
}
