.RoundBox {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    text-align:left;
    line-height: 1.5;
}
/* div {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #d5ded8;
  line-height:1.5;
  max-height: 650px;
  overflow:scroll;
  display: flex;
  flex-direction:column;
  height: calc(100%-16px);
  width: calc(100%-16px);
} */
.teal {
    background-color: #0d9ba0;
}

.grey {
    background-color: #d7e7e7;
}

.orange {
    background-color: #d1b723;
}

.darkTeal {
    background-color:  #07575a;
}

.maroon {
    background-color: #870725;
}

.RoundBox-maroon {
  box-sizing: border-box;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    background-color: #870725;
    color:white;
    line-height:1.5;
    text-align:left;
    padding-top: 0px;
    padding-bottom:0px;

}