* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family:sans-serif;
  font-weight: 800;
  margin:5px;
}



div.root {
  height: 100%;
}

div.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

div.container {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}


h1 {
  text-align: center;
}

h3 {
  margin-left: 10px;
}

.tab-list {
  border-top: 1px solid #ccc;
  padding-left: 0;
  height: 40px;
  width: 100%;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
  text-align: center;
  height: 100%;
  width: 16%;
}

.tab-list .tab-list-item:hover {
  background-color: teal;
  color:whitesmoke;
}

.tab-content {
  box-sizing: border-box;
  height: calc(100% - 40px);
  overflow: hidden;
}

.tabs {
  height: 100vh;
  overflow: hidden;
}

