.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family:sans-serif;
  font-weight: 800;
  margin:5px;
}

.RoundBox-teal {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    background-color: #256d70;
    color:white;
    text-align:left;
    line-height: 1.5;

}

.RoundBox-grey {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #d5ded8;
  line-height:1.5;
  max-height: 740px;
  overflow:scroll;
  display: flex;
  flex-direction:column;

}

.RoundBox-orange {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #c05000;
  line-height:1.5;
  color:white;
  text-align:left;
  
}

.RoundBox-darkTeal {
  box-sizing: border-box;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    background-color: #053638;
    color:white;
    line-height:1.5;
    text-align:left;
    padding-top: 0px;
    padding-bottom:0px;

}

.RoundBox-maroon {
  box-sizing: border-box;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    background-color: #870725;
    color:white;
    line-height:1.5;
    text-align:left;
    padding-top: 0px;
    padding-bottom:0px;

}

.RoundBox-sendChat {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #256d70;
  color:white;
  text-align:left;
  line-height: 1.5;
  max-width: 250px;
  display: flex;
  justify-content: right;
  flex-flow: column wrap;
  padding-top:0px;
  padding-bottom: 0px;
}

.RoundBox-receiveChat {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background-color: #870725;
  color:white;
  text-align:left;
  line-height: 1.5;
  max-width: 250px;
  display: flex;
  justify-content: left;
  flex-flow: column wrap;
  padding-top:0px;
  padding-bottom: 0px;
}


h1 {
  text-align: center;
}

h3 {
  margin-left: 10px;
}

.tab-list {
  border-top: 1px solid #ccc;
  padding-left: 0;
  height: 200px;
  width: 100%;
}

.tab-list-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
  text-align: center;
  height: 100%;
  width: 25%;
}

.tab-content {
  height: calc(100% - 80px);
}

.tabs {
  height: 100vh
}

